{{#each networks as |network|}}
  {{#if (eq network.name 'email')}}
    <li class={{network.name}} ><a href="mailto:?subject={{pageTitle}}&body={{pageDescription}} {{pageUrl}}" ></a></li>
  {{else}}
    <li class={{network.name}} ><a {{action "share" network}} ></a></li>
  {{/if}}
{{/each}}

